<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pabrikan | CarDealer</title>
    <link rel='stylesheet' th:href="@{/style.css}">
</head>
<body>
    <header>
        <img class="logo" th:src="@{/logo.png}" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a th:href="@{/mobil}">Mobil</a></li>
                <li><a th:href="@{/pabrikan}">Pabrikan</a></li>
                <li><a th:href="@{/penjualan}">Penjualan</a></li>
            </ul>
        </nav>
        <a class="cta" href=""><button class="btn_header">Logout</button></a>
    </header>

    <div class="section2">
        <div class="feature">
            <a type="button" class="btn-add" th:href="@{/pabrikan/create}">Add Pabrikan</a>
            
        </div> 
    </div>
    <div class="listMobil">
        <table>
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>No. Telepon</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${pabrikan}">
                    <td th:text="${p.nama}"></td>
                    <td th:text="${p.alamat}"></td>
                    <td th:text="${p.noTelp}"></td>
                    <td>
                        <a class="btn-edit" th:href="@{/pabrikan/edit(id=${p.idPabrikan})}">Edit</a>
                        <a class="btn-delete" th:href="@{/mobil/delete(id=${p.idPabrikan})}" 
                           onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                <!-- More car entries can be added here -->
            </tbody>
        </table>
    </div>
</body>
</html>